:root {
    --main-bg-color: #151515;
    --secondary-color: rgba(33, 37, 39, 0.38);
    --highlight-color: #A3FF00;
    --highlight-color-hover: #6EAC00;

    --text-color: #f9fdff;
    --secondary-text-color: #E0E4E6;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: #fff;
    font-family: Inter;
}

body {

}


.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

h2 {
    font-size: 57px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 0;
}

section {
    padding: 100px 0;
}

/*<custom-select>*/
.custom-select {
    position: relative;
}

.select-trigger {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    color: #151515;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;

    cursor: pointer;
    transition: background-image 0.3s, box-shadow .3s;
}

.select-trigger::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;

    top: 50%;
    transform: translateY(-50%);
    right: 0;

    background: url("./assets/icons/arrow-down.svg") no-repeat center/contain;
    transition: transform .3s;
}

.select-trigger:hover,
.options li:hover {
    box-shadow: 0 0 5px var(--highlight-color);
}

.options {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;

    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.options li {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    color: #151515;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: background-image .3s, box-shadow .3s;
}

.options li[data-value='ru'],
.select-trigger[data-select='ru'] {
    background-image: url("./assets/icons/flag-ru.svg");
}

.options li[data-value='usa'],
.select-trigger[data-select='usa'] {
    background-image: url("./assets/icons/flag-usa.svg");
}

.options li[data-value='eng'],
.select-trigger[data-select='eng'] {
    background-image: url("./assets/icons/flag-eng.svg");
}


.custom-select.open .options {

    opacity: 1;
    transform: scaleY(1);
}

.custom-select.open .select-trigger::after {
    transform: translateY(-50%) rotate(-180deg);
}

/*</custom-select>*/
/*<highlight-button>*/
.highlight-button {
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    transition: background-color .3s, border .3s, box-shadow .3s;
}

.highlight-button:hover:not(:disabled) {
    border: 1px solid var(--highlight-color-hover);
    background-color: var(--highlight-color-hover);
}

.highlight-button:active:not(:disabled) {
    box-shadow: 0px 0px 10px var(--highlight-color);
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
}

.highlight-button:disabled {
    opacity: .2;
    cursor: not-allowed;
}

/*</ highlight-button>*/

.highlight-text {
    color: var(--highlight-color);
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    section {
        padding: 60px 0;
    }
}

@media (max-width: 767px) {
    section {
        padding: 32px 0;
    }

    .container {
        padding: 0 20px;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    p {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
}

/*<Header>*/
.header {
    background: radial-gradient(rgba(255, 255, 255, 0) 30%, rgba(21, 21, 21, .9) 60%),
    radial-gradient(rgba(255, 255, 255, 0) 30%, rgba(21, 21, 21, .9) 60%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, rgba(21, 21, 21, .8) 70%),
    url('./assets/images/header-bg.png');
    /*background-image: url('./assets/images/header-bg.png');*/
    background-position: 10vw top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__content {
    display: flex;
    align-items: center;
    padding: 40px 0;
    gap: 20px;
}

.logo {
    margin-right: auto;
}

.header .contact-us-button,
.header .contact-us-button--mobile {
    padding: 9px 20px;
}

.contact-us-button--mobile {
    display: none;
}

.header__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    gap: 60px;
}

h1.header__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 76px;
    color: var(--text-color);
    margin: 0;
}

.header__subtitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 46px;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.wrapper__scroll-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-btn {
    background: transparent;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 50%;

    cursor: pointer;
    height: 36px;
    width: 36px;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-height: 1200px) {
    .header {
        height: 1000px;
    }
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .header__content {
        padding: 20px 0;
    }

    .contact-us-button {
        display: none;
    }

    .contact-us-button--mobile {
        display: block;
    }

    .header__main {
        gap: 32px;
    }

    h1.header__title {
        font-size: 44px;
    }

    .header__subtitle {
        font-size: 26px;
    }
}

@media (max-width: 575px) {
}

/*</Header>*/


/*<services>*/
.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-item {
    border-radius: 40px;
    padding: 32px 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background: radial-gradient(
            circle at 50% 25%,
            rgba(34, 245, 28, .4) 0%,
            rgba(34, 245, 28, 0.1) 22%,
            rgba(255, 255, 255, 0) 54%),
    var(--secondary-color)

}

.services-item__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--text-color);

    margin-bottom: auto;
    letter-spacing: -2px;
}

.services-item__description {
    color: var(--secondary-text-color);
    font-weight: 100;
    font-size: 18px;
}

.services-image {
    height: 200px;
    object-fit: contain;
}


@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
    .services-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-item {


    }

    .services-item__title {
    }

    .services-item__description {

    }

    .services-image {

    }
}

@media (max-width: 991px) {
    .services-list {
        grid-template-columns: 1fr;
    }

    .services-item__title {
        display: block;
        letter-spacing: 0;
        text-align: center;
    }

    .services-item__description {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .services-item {
        padding: 24px 20px;
        gap: 16px;
    }

    .services-image {
        height: 150px;
    }
}

@media (max-width: 575px) {
}

/*</services>*/

/*<partner>*/
.partner {
    background: linear-gradient(180deg, var(--main-bg-color) 0%, var(--secondary-color) 100%);
}

.partner-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
}

.partner-title {
    margin-bottom: 40px;
}

.partner-subtitle {
    margin-bottom: 60px;
    font-weight: 100;
    text-transform: uppercase;
}

.accordeon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.accordeon-item {
    border-left: 5px solid rgba(118, 122, 123, 0.5);
    padding-left: 40px;
    cursor: pointer;

    transition: border-color .3s;


}

.accordeon-item.active {
    border-color: var(--highlight-color);
    cursor: default;
}

.accordeon-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

.accordeon-item .accordeon-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.accordeon-item.active .accordeon-content {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.accordeon-content p {
    margin-top: 16px;
    font-weight: 100;
    font-size: 16px;
    color: var(--text-color);
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .partner-content {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .partner-subtitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .partner-content {
        gap: 32px;
    }

    .accordeon-item {
        padding-left: 20px;
    }

    .partner-title {
        margin-bottom: 20px;
    }

    .partner-subtitle {
        margin: 0;
        font-size: 16px;
    }

    .partner-link {
        justify-self: flex-start;
    }
}

@media (max-width: 575px) {
}

/*</partner>*/

/*<development>*/
.development {
    background: var(--secondary-color);
}

.development-title {
    text-align: center;
    margin-bottom: 30px;
}

.development-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 100px;
    color: var(--text-color);
}

.development-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    /*flex-wrap: wrap;*/
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /*align-items: flex-start;*/
}

.development-item {
    background-color: var(--main-bg-color);
    border-radius: 40px;
    padding: 32px;
    /*width: 25%;*/
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    transition: height .3s, box-shadow .3s;

}

.development-item__icon {
    height: 74px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

}

.development-item__icon.mobile {
    background-image: url("./assets/icons/mobile.svg");
}

.development-item__icon.monitor {
    background-image: url("./assets/icons/monitor.svg");
}

.development-item__icon.monitor-mobile {
    background-image: url("./assets/icons/monitor-mobile.svg");
}

.development-item__icon.astral {
    background-image: url("./assets/icons/astral.svg");
}

.development-item__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

.development-item__description {
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
}

.development-item .development-link {
    padding: 9px 20px;
    position: absolute;
    opacity: 0;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: opacity .3s;
}

.development-item:hover {
    height: calc(100% + 70px);
}

.development-item:hover .development-link {
    opacity: 1;
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
    .development {

    }

    .development-title {

    }

    .development-subtitle {

    }

    .development-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 32px;
    }

    .development-item {

    }

    .development-item__icon {


    }


    .development-item__title {

    }

    .development-item__description {

    }

    .development-item .development-link {

    }

    .development-item:hover {

    }

    .development-item:hover .development-link {

    }
}

@media (max-width: 991px) {
    .development {

    }

    .development-title {

    }

    .development-subtitle {
        font-size: 20px;
    }

    .development-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .development-item {

    }

    .development-item__icon {


    }


    .development-item__title {

    }

    .development-item__description {

    }

    .development-item .development-link {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateX(0);
    }

    .development-item:hover {
        height: 100%;
        box-shadow: 0px 0px 10px var(--highlight-color);
    }

    .development-item:hover .development-link {
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .development-list {
        grid-template-columns: 1fr;
    }

    .development-item {
        padding: 24px 20px;
        gap: 16px;
    }

    .development-item__icon {
        background-position: center;
    }

    .development-item__title {
        letter-spacing: -2px;
        text-align: center;
    }

    .development-item__description {
        text-align: center;
    }

    .development-subtitle {
        font-size: 16px;
        margin-bottom: 32px;
    }

}

@media (max-width: 575px) {
}

/*</development>*/

/*<about>*/
.about-content {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.about-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.about-services__card {
    background-color: rgba(33, 37, 39, 0.9);
    border-radius: 40px;
    padding: 44px 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-services__card h4 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.about-services__card p {
    font-size: 24px;
    font-weight: 100;
}

.about-services__card .card-description {
    font-size: 16px;
    font-weight: 100;
}

.about-services__card h3 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.about-services__card .card-link {
    position: relative;
    margin-top: auto;
    color: var(--highlight-color);
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 5px;

    transition: color .3s;
}

.about-services__card .card-link svg {
    transform: rotate(-90deg);
}

.about-services__card .card-link:hover {
    color: var(--highlight-color-hover);
}


.about-feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.about-feedback__description p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}

.about-feedback__form {
    border-radius: 40px;
    background-color: rgba(33, 37, 39, 0.9);
    padding: 60px;
}

.form-title {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

.form-subtitle {
    font-weight: 100;
    font-size: 22px;
    color: var(--text-color);
    text-transform: uppercase;
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {

    .about-services__card {
        padding: 38px;
        gap: 20px;
    }

    .about-services__card h4 {
        font-size: 24px;
    }

    .about-services__card p {
        font-size: 20px;
    }

    .about-services__card h3 {
        font-size: 30px;
    }

}

@media (max-width: 991px) {
    .about-services,
    .about-feedback {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 767px) {
    .about-content {
        gap: 64px;
    }

    .about-services__card {
        padding: 32px;
        gap: 16px;
    }

    .about-services__title {
        margin-bottom: 10px;
    }

    .about-services__card h4 {
        font-size: 18px;
    }

    .about-services__card p {
        font-size: 14px;
    }

    .about-services__card .card-description {
        font-size: 13px;
    }

    .about-services__card h3 {
        font-size: 24px;
    }

    .about-services__card .card-link {
        font-size: 12px;
    }

    .about-services__card .card-link svg {
        width: 10px;
        height: 10px;
    }

    .about-feedback__description p {
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 15px;
    }

    .about-feedback {
        gap: 32px;
    }

    .about-feedback__form {
        padding: 24px 20px;
    }

    .form-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .form-subtitle {
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
}

/*</about>*/


.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 8px;
}

.footer-content p {
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 200;

}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .footer-content {

        flex-direction: column;
        justify-content: center;

    }
}

@media (max-width: 575px) {
}






